<div class="w-screen h-screen flex flex-col items-center justify-center gap-4">
  <div class="border rounded-md">
    <canvas #canvas></canvas>
  </div>

  <div class="flex gap-10">
    <div>
      @for(shape of shapeOptions; track $index) {
        <input
          type="radio"
          [id]="shape.value"
          [name]="shape.value"
          [value]="shape.value"
          [(ngModel)]="$shape"
        />
        <label for="bounceOffWalls">{{ shape.label }} </label><br />
      }
    </div>

    <div class="flex flex-col">
      <label for="">Alignment Range {{ $alignmentRange() }}</label>
      <input type="range" min="0" max="200" [(ngModel)]="$alignmentRange" />
    </div>

    <div class="flex flex-col">
      <label for="">Cohesion Range {{ $cohesionRange() }}</label>
      <input type="range" min="0" max="200" [(ngModel)]="$cohesionRange" />
    </div>

    <div class="flex flex-col">
      <label for="">Separation Range {{ $separationRange() }}</label>
      <input type="range" min="0" max="200" [(ngModel)]="$separationRange" />
    </div>

    <div class="flex flex-col">
      <label for="">Separation Range {{ $separationRange() }}</label>
      <input type="range" min="0" max="200" [(ngModel)]="$separationRange" />
    </div>

    <div>
      <input
        type="radio"
        id="bounceOffWalls"
        name="bounceOffWalls"
        value="bounceOffWalls"
        [(ngModel)]="$wrapType"
      />
        <label for="bounceOffWalls">Bounce Off Walls </label><br />
      <input
        type="radio"
        id="wrapAroundEdges"
        name="wrapAroundEdges"
        value="wrapAroundEdges"
        [(ngModel)]="$wrapType"
      />
        <label for="wrapAroundEdges">Wrap Around Edges </label><br />
    </div>
  </div>
</div>
